@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
     justify-content: space-between;
}

/* hero section css */

.hero{
    width: full;
    height: 652px;
     background-image: url('./assets/Hero-bg.png');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.hero div{
    height: 582px;
     width: 998px;
     margin-top: 44px;
      margin-left: 221px;
      margin-right: 221px;
      text-align: center;
}

 .hero img{
    margin-top: 26px;
 }

.hero h1{
    font-weight: 800;
    font-size: 48px;
    margin: 32px 0;
}

.hero p{
    opacity: 70%;
    margin: 0 73px;
}

.hero button{
    margin-top: 32px;
     
    width: 208px;
    height: 66px;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
     font-size: large;
}

.hero a{
    text-decoration: none;
    color: white;
}

/* detail section css */

.detail{
    background-color: rgba(13, 19, 33, 0.02);
    Width: 1140px;
    Height: 1395px;
    
    padding: 80px 97px;
    margin-left: 148px;
    margin-top: 64px;
 
}

.details{
     
    Width: 946px;
    Height: 1235px;
    
     
    
 
}

.blog{
     
  
  background-image: linear-gradient(rgb(255, 255, 255),
  rgba(255, 255, 255, 0));
  display: flex;
  border-radius: 16px;
  margin-bottom: 32px;
}

.details button{
    width: 150px;
    height: 48px;
}

.inspiration{
    Width: 1140px;
    Height: 777px;
    margin-left: 148px;
    margin-top: 64px;
     
}